<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="แผนที่" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Array หมุด" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map2">
    <ion-nav-view name="tab-map2"></ion-nav-view>
  </ion-tab>

  <ion-tab title="JSON หมุด" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map3">
    <ion-nav-view name="tab-map3"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map4" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map4">
    <ion-nav-view name="tab-map4"></ion-nav-view>
  </ion-tab>



  <!-- About Tab -->
  <ion-tab title="เกี่ยวกับ" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
